MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/compra-bar
JWT_SECRET=una-clave-secreta-muy-segura
CLOUDINARY_CLOUD_NAME=tu-cloud-name
CLOUDINARY_API_KEY=tu-api-key
CLOUDINARY_API_SECRET=tu-api-secret
